<form action="/addCar" method="POST">
  <fieldset>
    <legend>Add new car:</legend>

    <label for="name">Model:</label>
    <input type="text" name="model"><br>

    <label for="name">Image:</label>
    <input type="text" name="image"><br>

    <label for="name">Price:</label>
    <input type="text" name="price"><br>

    <label for="name">Year:</label>
    <input type="text" name="year"><br>

    <input type="submit" value="Add Car">
  </fieldset>
</form>