
#logout, #logout-form{
    display: inline-block
}
.home-page-imgages{
    width: 320px;
}
.car-section{
    padding: 15px;
    
    box-shadow: 5px 5px 5px #888888;
    border-radius: 25px;
    margin-bottom: 20px;
}
.form-inline{
    float: right;
}
.home-title{
    display: inline-block;
    margin-top: 50px
}
